@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./componentes/no-script.css);
@import url(./componentes/loader.css);
@import url(./componentes/kdb.css);

@import url(./elementos/controle.css);
@import url(elementos/modal.css);
@import url(elementos/table.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Calibri', sans-serif !important;
    font-size: 1.2rem;
}

body,
body * {
    user-select: none !important;
}

.swal2-popup {
    font-size: 16px !important;
}

input,
textarea {
    text-transform: uppercase;
}

input::placeholder,
textarea::placeholder {
    text-transform: initial;
}

.none {
    display: none;
}

.block {
    display: block;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.focus {
    background-color: rgba(0, 0, 0, 0.15);
}

[data-content="dados-bancarios"] {
    margin-left: 1.05rem;
}

:where(input[type=text], input[type=date]):is(:focus) {
    transition: ease-in-out border 300ms;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

.alert {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin: 0.5rem 0;
    font-size: 13px;

    &.alert-warning {
        background-color: #FFE10050;

        &:before {
            content: "Atenção!";
            color: #FF000075;
        }
    }

    &.alert-info {
        background-color: #2631FF25;

        &:before {
            content: "Sabia que...";
            color: #2631FF75;
        }
    }

    &.alert-danger {
        background-color: #FF000050;

        &:before {
            content: "Aviso";
            color: #FF0000;
        }
    }

    &:before {
        font-weight: 600;
        margin-bottom: 0.25rem;
        display: block;
    }
}

@media print {
    div#controle {
        display: none !important;
    }
}

sxs {
    font-family: 'Calibri', sans-serif !important;
    text-transform: uppercase !important;
}

.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    /*flex-wrap: wrap;*/
}

.gap-1 {
    gap: 0.5rem;
}

.w-auto {
    width: auto !important;
}

.overflow-x {
    overflow-x: scroll;
}